<div class="center hero-unit">
  <h1>Welcome, {fName} !</h1><br>

  <h2>
    This is the Student portal for the Cultural Contribution Scholarship Web Application
  </h2><br>
  <h3>
    You have currently completed {sumOfHours} out of 25 volunteer hours this semester. <br>You have {remainingHours} left to complete!
  </h3><br>
<h4>
  This is where you will be able to see your total volunteer hours, and view your upcoming volunteering events
</h4>
</div>
