// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$navbarBackground:                #F7E400 ;
$navbarBackgroundHighlight:       #eab92d ;
$navbarText:                      #000000 ;
$navbarLinkColor:                 #000000 ;
$navbarSearchPlaceholderColor:    #EEC844 ;
@import "bootstrap";

.navbar-inner {
  min-height: 60px;
}