<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <style>
body {  
  margin-top: 50px; /*This has gotta stay here to give only this page a gap at the top*/
} 
.center {
  margin: auto;
  width: 850px;
  border: 3px solid #F7E400; /*official MNSU gold*/
  padding: 10px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 15px;
  text-decoration: none;
  margin: 7px;
  color: #FFFFFF;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}
.purple {
  background-color: #9b59b6;
}
.purple:hover {
  background-color: #B573D0;
}
.grey {
  background-color: #A0A0A0;
}
.grey:hover {
  background-color: #D3D3D3;
}
</style>
  </head>
  <body>
  <main>
<div class="center">
  <%= image_tag "splash.png" %>
  <h2>Please Log In:</h2>
  <form method="post" action="/addcontact">
    <label for="username">User Name:</label><br>
<input type="text" name="username" id="username"><br><br>  
<label for="password">Password:</label><br>
<input type="password" name="password" id="password"><br><br>
<input type="submit" class="btn purple" name="login" id="button" value="Log In"><br>
<input type="reset" class="btn grey" name="clear" id="button" value="Clear Form"><br><br><br>
    </form> 
</div>

</main>
  </body>
</html>