<!doctype html>
<html lang="en">
  <head>
    <style>
        body {
            background-color: lightblue;
    font: 90% Arial, Helvetica, sans-serif;        
margin: 0 auto; 
width:600px;
}
        main {
    border:  2px solid black;
    width:   500px;  
    margin:  20px;
    padding: 10px;
    box-shadow: 0.7px 0.7px 5px purple;
}

label {
    color: black;
    float: left;
    width: 8em;
    font-weight: bold;
    text-align: right;}
input {
    width: 15em;
    margin-left: 1em;
    margin-bottom: .5em;}
input:focus {
    border: 2px solid black; }
#button, #reset {
    width: 7em;
    box-shadow: 3px 3px 0 purple; 
    background-color: silver; }
#button { margin-left: 9.5em; }
</style>
  </head>
  <body>
  <main>
<form method="post" action="/addcontact">
<h2>Welcome to the Cultural Contribution Hours App</h2>
<h3 align="center">Please Login</h3>
<label for="username">User Name:</label>
<input type="text" name="username" id="username"><br>   
<label for="password">Password:</label>
<input type="text" name="password" id="password"><br>
<input type="submit" name="register" id="button" value="Register">
<input type="reset" name="reset" id="reset"> 
</form> 
</main>
  </body>
</html>